html, body {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

                    /* ^ colours and stuff */

.header {
    background-color: #1F2937;
    padding: 16px 450px 200px;
}

.header-ribbon,
.hero-main {
    color: #F9FAF8
}

.links, 
.hero-secondary,
.hero-img {
    color: #E5E7Eb;
    font-size: 18px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
    border: none;
    margin-top: 16px;
}

                    /* ^ header ribbon */


.header-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul li {
    list-style: none;
    display: inline;
    margin: 16px;
}

                    /* ^ hero section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 500px;
}