html, body {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

                    /* ^ colours and stuff */

.header {
    background-color: #1F2937;
    padding: 16px 375px 150px;
}

.header-ribbon,
.hero-main {
    color: #F9FAF8
}

.links, 
.hero-secondary,
.hero-img {
    color: #E5E7Eb;
    font-size: 18px;
}

                    /* ^ header ribbon */


.header-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul li {
    list-style: none;
    display: inline;
    margin: 16px;
}

                    /* ^ hero section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-main {
    font-size: 48px;
}

.hero-text {
    width: 450px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
    border: none;
    font-size: 18px;
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 5px;
}

.hero-img {
    display: flex;
    background-color: gray;
    width: 500px;
    height: 220px;
    justify-content: center;
    align-items: center;
}


                    /* ^ info section */

.info {
    padding: 24px 375px;
}

.info-header {
    text-align: center;
    font-size: 36px;
}